{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Web Dev - {{ page.page_title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ relative }}css/styles.css">
  <link rel="stylesheet" type="text/css" href="{{ relative }}css/fonts/ss-gizmo.css">
</head>
<body>
    <header id="header">
        <h1>{{ page.page_title }}</h1>
    </header><!-- /header -->
    <div class="content">
        {{ content }}
    </div>
  </body>
</html>
